<!DOCTYPE html>
<html lang="en">
    <head>
    <title>House Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-colorbox@1.6.4/example1/colorbox.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body class="container">
    <div class="row">

        <div>
            <div class="col-sm-1">
                <img src="downloadmagnifier.png" class="img-circle img-thumbnail img-responsive" alt="TGIF Logo">
            </div>
        </div>
    </div>


    <div class="text-right"> <a herf="mailto:info@tgif.net"><span class="glyphicon glyphicon-envelope"></span>info@tgif.net</a></div>


    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="home.html">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Congress 113<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-data.html">Senate</a></li>
                        <li><a href="house-data.html">House</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Attendance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-attendance-starter-page.html">Senate</a></li>
                        <li><a href="house-attendance-starter-page.html">House</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Party Loyalty<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="senate-party-loyalty-starter-page.html">Senate</a></li>
                        <li><a href="house-party-loyalty-page%20copy.html">House</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!--Table container-->




    <div class="row">
        <h2>Congressmen</h2>

        <div class="col-sm-8">
            <p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
            <p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>
        </div>
    </div>

    <div class="row">

        <div id="checkboxes" class="col-sm-11">
            Filter Party By :

            <label>Republican <input  id="republican" type="checkbox" name="republican" ></label>
            <label>  Democrate <input id="democrate" type="checkbox" name= "democrate" ></label>
            <label>Independent <input  id="independent" type="checkbox" name="independent" ></label>

        </div>


        <select id="dropdown" class="col-sm-1">
            <option>All States</option>
            
            
            
        </select>


    </div>


    <div class="table-responsive">
        <table class="table table-hover table-condensed" id="houseDataTable">
            <thead>
                <th v-for="header in headers">{{header}}</th>
            </thead>
            <tbody>
                <tr v-for="member in membersOfHouse">
                    <td><a v-bind:href="member.url" class="colorbox">{{member.first_name}}{{member.middle_name}}{{member.last_name}}</a></td>
                    <td>{{member.party}}</td>
                    <td>{{member.state}}</td>
                    <td>{{member.seniority}}</td>
                    <td>{{member.votes_with_party_pct}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href='http://www.wikipedia.com' class='colorbox2'>ubiqum</a>



    <div class=" page-footer text-center bg-info">
        <p> &copy; 2016 TGIF | All Rights Reserved</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src ="pro-congress-113-house.js"></script>-->
    <script src="mainHouse.js"></script>
</body>
</html>